<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>187467720629-kgbjecqsf1f6hcotuqtdic25fjdk7kls.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.187467720629-kgbjecqsf1f6hcotuqtdic25fjdk7kls</string>
	<key>API_KEY</key>
	<string>AIzaSyDUl2V1UvSpfaF8jHZSBYLd1UvpbLlRixE</string>
	<key>GCM_SENDER_ID</key>
	<string>187467720629</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.binBrain</string>
	<key>PROJECT_ID</key>
	<string>googol-1e100</string>
	<key>STORAGE_BUCKET</key>
	<string>googol-1e100.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187467720629:ios:889d6f7c6f80594b675bfc</string>
</dict>
</plist>